<html>
<head>
    <title>Show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
    <section class="content-header">
        <h1>Postagem   <a  href="new">
            <span class="autor">+ Nova</span>
            </a></h1>
    </section>
    <div class="content">
        <div class="clearfix"></div>

    </div>
    <div class="box box-primary" style="margin:5px;padding:5px;">
        <div class="box-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Postagem No</th>
                            <th>Title</th>
                            <th>Autor</th>
                            <th>Texto </th>
                            <th>Designation</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                       <% print.forEach(function(result) { %>
                          <tr>
                          <td><%= result.id %></td>
                          <td><%= result.title %></td>
                          <td><%= result.autor %></td>
                          <td><%= result.texto %></td>
                          <td> <a href="/adm/update?id=<%= result.id %>">Edit</a> <a href="/adm/delete?id=<%= result.id %>">Delete</a> </td>
                          </tr>
                       <% }); %>

                    </tbody>
                </table>
        </div>
    </div>
</body>
</html>